/* main.css */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 1.3;
	background: #fff !important;
	color: #000;
}

/*
- TÍTULO
*/

.lista-titulo {
	margin: 30px;
	padding: 0;
	text-align: center;
}

/*
- COLEÇÃO DE ITENS
*/

.lista-colecao {
	margin: 0;
	padding: 0;
}
.lista-colecao td {
	margin: 0;
	padding: 10px 10px 10px 0;
}
.lista-colecao strong { font-size: 14px; }
.lista-colecao p { font-size: 12px; }

/*
- LISTA DE IMAGENS
*/

.lista-galeria {
	margin: 0 30px 30px;
	padding: 0;
	page-break-inside: avoid;
}
.lista-galeria + .lista-galeria {
	margin: 30px 30px 30px;
	padding: 30px 0 0;
	border-top: 2px solid #999;
}
.lista-galeria__image { text-align: center; }
.lista-galeria__images {
	width: 100%;
	margin: 0;
}
.lista-galeria__images img {
	margin: 0;
	display: block;
}
.wrapper-images {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

/* override styles when printing */
@media print {
	body {
		margin: 0;
		color: #000;
		background-color: #fff;
	}
}