/* main.css */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 1.3;
	position: relative;
	background: #fff !important;
	color: #000;
}

/*
- TÍTULO
*/

.titulo-principal {
	margin: 30px 0;
	padding: 0;
	text-align: center;
}

.box-quebra { page-break-before: always; }

.lista-galeria {
	width: 100%;
	height: 100%;
	margin: 0 0 30px;
	padding: 30px;  
}
.lista-galeria__title { font-size: 14px; }
.lista-galeria__thumb { text-align: center; }

.lista-galeria__dados {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.lista-galeria__dados li { margin-bottom: 10px; }
.lista-galeria__dados strong {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.lista-galeria__dados p {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.lista-galeria__images {
	width: 100%;
	margin: 0;
}
.lista-galeria__table { width: 100%; }
.lista-galeria__row { width: 100%; }
.lista-galeria__row td {
	padding-bottom: 30px;
	text-align: center;
}

.borda {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border: 2px solid #999;
}

@page {
	/* margin-top: 3cm;
	margin-bottom: 4cm; */
}

/* override styles when printing */
@media print {
	body {
		margin: 0;
		color: #000;
		background-color: #fff;
	}
}